.headingParent {
  position: fixed;
  z-index: 1000;
  width: 95%;
  top: 22px;
  opacity: 0;
  /* top: -200px; */
  left: 2.5%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 53.7px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(19.4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.launchappbtn {
  background: #004dff;
  border-radius: 138px;
  padding: 10px 40px;
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 27px;
}
.launchappbtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headingParent {
    padding: 10px 15px;
  }
  .logo img {
    width: 140px;
    height: auto;
  }
  .launchappbtn {
    font-size: 0.86rem;
    line-height: normal;
    padding: 10px 25px;
  }
}
