.heroSectionParent {
  height: 500vh;
  width: 100%;
  background-color: black;
  position: relative;
  z-index: 100;
}
.rectangle {
  height: 100vh;
  width: 100%;
  background-color: black;
  background: linear-gradient(
      90deg,
      rgba(115, 115, 115, 0.1) 0%,
      rgba(0, 0, 0, 1) 80%,
      rgba(222, 222, 222, 0.1) 92%
    )
    repeat-x;
  background-size: min(10vw, 90px) 100vh;
  /* background: linear-gradient(
      90deg,
      rgba(115, 115, 115, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 81.12%,
      rgba(222, 222, 222, 0.3) 100.18%
    )
    repeat-x; */
  background-blend-mode: overlay;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rectangle svg rect {
  mix-blend-mode: overlay;
}
.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(125px);
  aspect-ratio: 1/1;
}

.circle1 {
  top: 85%;
  left: 50%;
  width: 35%;

  /* height: 600px; */
  filter: blur(100px);
  background: #3270ff;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: circle1Effect 20s linear 2s infinite;
}

.circle2 {
  top: 80%;
  left: 10%;
  width: max(45%, 800px); /* Circle diameter + 2*blur radius */
  /* Circle diameter + 2*blur radius */
  background: #0500ff;
  filter: blur(190px);
  transform: translate(-50%, -50%);
  animation: circle2Effect 20s linear 2s infinite;
  /* animation: numberPath 10s linear, numberPathReverse 10s 10s linear infinite; */
}
.circle3 {
  top: 50%; /* Circle's center y position */
  left: 95%; /* Circle's center x position */
  width: 500px; /* Circle diameter + 2*blur radius */
  height: 500px; /* Circle diameter + 2*blur radius */
  background: #004bf9;
  filter: blur(120px);
  transform: translate(0%, -50%);
  animation: circle3Effect 20s linear 2s infinite;
}

.circle4 {
  position: absolute;
  width: max(750px, 70%);
  height: 478px;
  left: 70%;
  top: 60%;
  background: #0029ff;
  filter: blur(190.15px);
  animation: circle4Effect 20s linear 2s infinite;
}

/* Ellipse 171 */
.tagline {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  width: 95%;
  height: 100%;
  font-size: min(8.5vw, 12rem); /* Responsive font size */
  color: white;
  margin: 0 auto;
  font-family: var(--font-poppins);
  font-weight: 500;
  line-height: 118px;
  letter-spacing: -0.04em;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; */
  /* gap: 5px; */

  height: 100%;
  z-index: 10; /* Ensure this is set */
}
.discoverWord {
  position: absolute;
  top: 40%;
  left: 0%;
}
.learnWord {
  position: absolute;
  top: 40%;
  left: 39%;
}
.engageWord {
  position: absolute;
  top: 40%;
  left: 65%;
}
.taglineVertical {
  width: 40%;
  padding: 0 4%;
  transform: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  font-size: min(7.6vw, 9rem); /* Responsive font size */
  color: white;
  margin: 0;
  font-family: var(--font-poppins);
  font-weight: 500;
  line-height: 118px;
  letter-spacing: -0.04em;
}
.taglineword {
  /* position: relative; */
  text-shadow: 0px 5px 90px rgba(0, 0, 0, 0.5);
  opacity: 0.24;
}
.activetextopacity {
  opacity: 0;
}
.headingDot {
  color: #ff8a00;
  font-family: var(--font-poppins);
}

.activeText {
  z-index: 100;
}
.test {
  background-color: #151516;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* Rectangle 6507 */
.testinside {
  width: 90px;
  height: 100%;
  /* left: 1350px; */

  background: linear-gradient(
      90deg,
      rgba(115, 115, 115, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 74%,
      rgba(222, 222, 222, 0.1) 92%
    )
    repeat-x;
  background-blend-mode: overlay;
}

/* Engage. */
.illustrationsParent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40%;
  scale: 1;
  z-index: 100;
}

.illustrationsParentHidden {
  display: none;
}

.hiddenIllustration {
  opacity: 0;
  scale: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.activeIllustration {
  width: 100%;
  height: 100%;
  scale: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.textIllustration {
  width: 120%;
  height: 100%;
}

@keyframes circle2Effect {
  0% {
    top: 80%;
    left: 10%;
  }
  16.67% {
    top: 0%;
    left: 30%;
  }
  33.33% {
    top: 00%;
    left: 90%;
  }
  50% {
    top: 30%;
    left: 100%;
  }
  66.67% {
    top: 80%;
    left: 80%;
  }
  83.33% {
    top: 100%;
    left: 40%;
  }
  100% {
    top: 80%;
    left: 10%;
  }
}
@keyframes circle1Effect {
  0% {
    top: 85%;
    left: 50%;
  }
  16.67% {
    top: 40%;
    left: 0%;
  }
  33.33% {
    top: 0%;
    left: 30%;
  }
  50% {
    top: 0%;
    left: 80%;
  }
  66.67% {
    top: 30%;
    left: 100%;
  }
  83.33% {
    top: 60%;
    left: 100%;
  }
  100% {
    top: 85%;
    left: 50%;
  }
}
@keyframes circle4Effect {
  0% {
    top: 60%;
    left: 70%;
    background: #0029ff;
  }
  16.67% {
    top: 50%;
    left: -20%;
    background: #004bf9;
  }
  33.33% {
    top: -20%;
    left: 20%;
    background: #004bf9;
  }
  50% {
    top: -10%;
    left: 40%;
    background: #3270ff;
  }
  66.67% {
    top: 20%;
    left: 60%;
    background: #3270ff;
  }
  83.33% {
    top: 40%;
    left: 70%;
    background: #3270ff;
  }
  100% {
    top: 60%;
    left: 70%;
    background: #0029ff;
  }
}
@keyframes circle3Effect {
  0% {
    top: 50%;
    left: 95%;
  }
  16.67% {
    top: 80%;
    left: 50%;
  }
  33.33% {
    top: 70%;
    left: 10%;
  }
  50% {
    top: 40%;
    left: -20%;
  }
  66.67% {
    top: 0%;
    left: 40%;
  }
  83.33% {
    top: 30%;
    left: 60%;
  }
  100% {
    top: 50%;
    left: 95%;
  }
}

/* grid boxes */
.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
  padding: 0.5rem 2rem 2rem 2rem;
}

.gridItem img {
  width: 50%;
  height: 50%;
  scale: 1;
  transform: translateY(0);
  /* height: 100%; */
}

.text {
  color: #fff;
  text-align: left;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 1.5rem;
  font-size: min(1vw, 1.5rem);
}

.grid {
  position: absolute;
  bottom: -40%;
  z-index: 200;
  display: grid;
  width: 100vw;
  /* max-width: 1640px; */
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr); /* Six columns */
}

.gridItemWrapper {
  height: max(210px, 25vh);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  border: none;
  background-color: #101a4f;
  background: linear-gradient(180deg, #161618 0%, #101a4f 100%);
}

@media (max-width: 480px) {
  .gridItemWrapper {
    flex: 1 1 100%; /* 100% / 1 item per row for very small screens */
    max-width: 100%;
  }
}
