.section2 {
    width: 100%;
    height: 100%;
    background: url("/assets/img/NewsLetter.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 1rem;
    padding: 50px 70px;
    border-radius: 60px;
  }
  .title{
    font-size: 20px;
  }
  .inputsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .email {
    background-color: #4769b9bf;
    padding: 16px 60px 16px 20px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin-right: 20px;
  }
  .email::placeholder {
    color: white;
    opacity: 1; /* Ensures the color is fully opaque */
    font-size: 14px;
    font-weight: 600;
  }
  
  .subscribe {
    background: white;
    outline: none;
    color:#004dff;
    border: 1px solid white;
    border-radius: 50px;
    padding: 16px 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }
  .subscribe:hover{
    background-color: #4769b9bf;
    border: 1px solid #004dff;
    color: white;
    transition: all 0.5s ease-in-out;
  }
  
  .subscribe:hover {
    transform: scale(1.1);
  }
  
  .upbutton {
    z-index: 5;
    background: transparent;
    text-align: center;
    cursor: pointer;
  }
  
  .upbutton:hover {
    cursor: pointer;
  }
  
  
  @media screen and (max-width:768px) {
    .section1 {
      margin-bottom: 40px;
    }
  
    .iconlist {
      display: flex;
      gap: 1.3rem;
    }
  
    .icon {
      width: 45px;
      height: 45px;
    }
  
    .email {
      padding: 10px 20px;
    }
  
    .subscribe {
      padding: 10px 20px;
    }
  
    .upbutton {
      width: 6vw;
    }
  }
  
  @media screen and (max-width:600px) {
    .section1 {
      margin-bottom: 30px;
    }
  
  
    .copyrighttext {
      font-size: 13px;
    }
  
    .iconlist {
      display: flex;
      gap: 1.2rem;
    }
  
    .icon {
      width: 40px;
      height: 40px;
    }
  
    .footersection {
      gap: 20px;
    }
  
    .section2 {
      padding: 15px 40px;
    }
  
    .inputsection {
      margin: 6px 0;
    }
  
    .input_button {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .email {
      padding: 8px 18px;
      border-radius: 40px;
      margin-right: 0px;
    }
  
    .subscribe {
      border-radius: 40px;
      padding: 8px 18px;
      width: max-content;
    }
  
    .upbutton {
      width: 8vw;
    }
  }
  
  @media screen and (max-width: 480px) {
    .copyrighttext {
      font-size: 10px;
    }
  
    .iconlist {
      display: flex;
      gap: 1.1rem;
    }
  
    .icon {
      width: 30px;
      height: 30px;
    }
  
    .section2 {
      padding: 10px 30px;
    }
  
    .section2 p {
      font-size: 12px;
    }
  
    .email {
      padding: 6px 18px;
      border-radius: 30px;
      margin-right: 0px;
      font-size: 12px;
  
    }
  
    .subscribe {
      border-radius: 30px;
      padding: 6px 18px;
      width: max-content;
      font-size: 12px;
    }
  
    .upbutton {
      width: 7vw;
    }
  }
  
  @media screen and (max-width: 400px) {
    .email {
      width: 80%;
    }
  
    .upbutton {
      width: 9vw;
    }
  }